# Editors
.vscode/
.idea/
*.swp

# PlatformIO (Legacy)
.pio/
_pio_archive/

# ESP-IDF
build/
managed_components/
sdkconfig
sdkconfig.old
dependencies.lock
esp-adf/

# Temporary / Large Resources
temp_ai_thinker_repo/
utils/ffmpeg.exe
utils/ffmpeg.zip
utils/compliments_split/
/sd_card_template/
utils/piper/
utils/piper_voices/
utils/*.txt
# User Data / Secrets
GEMINI_API_KEY
sd_card_content/
compliments/audio_cache/
ringtones/
fonts/
*.txt
!compliments/*.txt


